<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('tg账号设置修改')"/>
</head>
<body>
<form class="layui-form" action=""  th:object="${TgAccount}">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
				<div class="layui-form-item layui-hide">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <input type="text" th:value="*{id}" name="id" lay-verify="title"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-block">
                        <input th:value="*{nickName}" type="text" name="nickName" autocomplete="off" placeholder="用户名，昵称" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input th:value="*{account}" type="text" name="account" autocomplete="off" placeholder="账号" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">appid</label>
                    <div class="layui-input-block">
                        <input th:value="*{appId}" type="text" name="appId" autocomplete="off" placeholder="app_id" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">appHash</label>
                    <div class="layui-input-block">
                        <input th:value="*{appHash}" type="text" name="appHash" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">测试配置</label>
                    <div class="layui-input-block">
                        <input th:value="*{testConfig}" type="text" name="testConfig" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">生产配置</label>
                    <div class="layui-input-block">
                        <input th:value="*{proConfig}" type="text" name="proConfig" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">密钥</label>
                    <div class="layui-input-block">
                        <input th:value="*{publicKeys}" type="text" name="publicKeys" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">部门</label>
                    <div class="layui-input-block">
                        <input th:value="*{depId}" type="text" name="depId" autocomplete="off" placeholder="部门，平台" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="tgAccount-update">
                <i class="layui-icon layui-icon-ok"></i>
				提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
				重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form','laydate','jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let MODULE_PATH = rootPath+"/tgAccount";
		
        form.on('submit(tgAccount-update)', function (data) {
            $.ajax({
                url: MODULE_PATH+'/edit',
                data: data.field,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                type: 'post',
                success: function (result) {
                    if (result.code==200) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("tgAccount-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
<script>
</script>
</body>
</html>